@import "tailwindcss";
@plugin "daisyui";

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}


.swal2-progress-bar-green {
  background-color: #22c55e !important; 
}

.small-popup {
  width: 350px !important; 
  font-size: 0.9rem;       
  padding: 22px !important;
}



motion-div, 
motion-section {
  border: none !important;
  outline: none !important;
}

.motion-safe * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
