@import "tailwindcss";
@plugin "daisyui";

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}


.swal2-progress-bar-green {
  background-color: #22c55e !important; /* Tailwind's green-500 */
}

.small-popup {
  width: 350px !important; /* default is ~500px */
  font-size: 0.9rem;       /* slightly smaller text */
  padding: 22px !important;
}